#ball {
    position: fixed;
    height: 50px;
    width: 50px;
    background: url(../img/ball.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
